# Valentina's Notebook: Data Prep

## Findings and ToDos

- We have around 600 tsd missings values in Comminities, but Lon and Lat Data are there ->
  backtrack community data UPD: these are only years 2001 and 2002
- MB do a dataviz for the districts vs beats vs communities?

In [1]:
import pandas as pd
from pandas_gbq import read_gbq

from google.cloud import bigquery
from google.oauth2 import service_account

In [2]:
PROJECT_ID = 'wagon-bootcamp-428814'

In [3]:
credentials = service_account.Credentials.from_service_account_file("/Users/valentinahilfiger/Documents/LW_folder/wagon-bootcamp-428814-452deb1a483b.json")

client = bigquery.Client('wagon-bootcamp-428814', credentials)
# query = client.query(
# "SELECT * FROM `wagon-bootcamp-428814.chicago_crime.chicago_crime_tab` LIMIT 100"
    
# )

In [4]:
query = "SELECT * FROM `wagon-bootcamp-428814.chicago_crime.chicago_crime_tab` LIMIT 100"
df = read_gbq(query, credentials = credentials, project_id = PROJECT_ID)
df

/Users/valentinahilfiger/.pyenv/versions/3.10.6/envs/lw-crime/lib/python3.10/site-packages/google/cloud/bigquery/table.py:2379: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(

,Date,ID,Case Number,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,2009-03-30 11:00:00,6835247,HR243390,015XX W CARROLL AVE,0810,THEFT,OVER $500,STREET,false,false,...,27,28,06,1166186.000000000,1902271.000000000,2009,02/28/2018 03:56:25 PM,41.887411478,-87.665168378,"(41.887411478, -87.665168378)"
1,2009-03-30 11:00:00,6835354,HR243558,019XX N NEW ENGLAND AVE,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,false,false,...,36,25,26,1130119.000000000,1912074.000000000,2009,02/10/2018 03:50:01 PM,41.915006497,-87.797394243,"(41.915006497, -87.797394243)"
2,2009-03-30 11:00:00,6839566,HR246471,009XX W MARQUETTE RD,0890,THEFT,FROM BUILDING,APARTMENT,false,false,...,17,68,06,1171014.000000000,1860402.000000000,2009,02/28/2018 03:56:25 PM,41.772414512,-87.648664033,"(41.772414512, -87.648664033)"
3,2009-03-30 11:00:00,6838951,HR242605,039XX W 79TH ST,0460,BATTERY,SIMPLE,"SCHOOL, PUBLIC, BUILDING",false,false,...,18,70,08B,1151370.000000000,1851889.000000000,2009,02/28/2018 03:56:25 PM,41.749460005,-87.720896120,"(41.749460005, -87.72089612)"
4,2009-03-30 11:00:00,6873197,HR273384,049XX S PULASKI RD,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,OTHER,false,false,...,14,57,07,1150534.000000000,1871486.000000000,2009,02/28/2018 03:56:25 PM,41.803253595,-87.723450320,"(41.803253595, -87.72345032)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2009-03-30 12:20:00,6835182,HR242685,027XX N NARRAGANSETT AVE,0460,BATTERY,SIMPLE,PARKING LOT/GARAGE(NON.RESID.),false,false,...,36,19,08B,1133279.000000000,1917422.000000000,2009,02/28/2018 03:56:25 PM,41.929627277,-87.785659069,"(41.929627277, -87.785659069)"
96,2009-03-30 12:25:00,6834703,HR242733,012XX W 51ST ST,2024,NARCOTICS,POSS: HEROIN(WHITE),ALLEY,true,false,...,16,61,18,1168711.000000000,1870956.000000000,2009,02/28/2018 03:56:25 PM,41.801425943,-87.656801748,"(41.801425943, -87.656801748)"
97,2009-03-30 12:26:00,6835077,HR242724,011XX W 59TH ST,051A,ASSAULT,AGGRAVATED: HANDGUN,RESTAURANT,false,false,...,16,68,04A,1169526.000000000,1865667.000000000,2009,02/28/2018 03:56:25 PM,41.786894685,-87.653966132,"(41.786894685, -87.653966132)"
98,2009-03-30 12:28:00,6844454,HR251236,060XX N SHERIDAN RD,0890,THEFT,FROM BUILDING,RESIDENCE PORCH/HALLWAY,false,false,...,48,77,06,1168540.000000000,1940169.000000000,2009,02/28/2018 03:56:25 PM,41.991354683,-87.655423248,"(41.991354683, -87.655423248)"
99,2009-03-30 12:30:00,6835901,HR242717,114XX S FOREST AVE,0430,BATTERY,AGGRAVATED: OTHER DANG WEAPON,STREET,false,true,...,9,49,04B,1180288.000000000,1829147.000000000,2009,09/07/2021 03:41:02 PM,41.686439349,-87.615623747,"(41.686439349, -87.615623747)"

In [ ]:

district_query = """
SELECT `Community Area`, COUNT(*) as `Count`
FROM `wagon-bootcamp-428814.chicago_crime.chicago_crime_tab`
GROUP BY `Community Area`
ORDER BY `Count` DESC
"""
stats_communities = read_gbq(district_query, credentials = credentials, project_id = PROJECT_ID)
stats_communities.head(11)

## Spatial Data

In [5]:
import geopandas as gpd
from shapely.geometry import Point


#https://data.cityofchicago.org/Facilities-Geographic-Boundaries/Boundaries-Community-Areas-current-/cauq-8yn6

In [6]:
#Load the geoJSON file
communities = gpd.read_file('Boundaries - Community Areas.geojson')
communities

,community,area,shape_area,perimeter,area_num_1,area_numbe,comarea_id,comarea,shape_len,geometry
0,DOUGLAS,0,46004621.1581,0,35,35,0,0,31027.0545098,"MULTIPOLYGON (((-87.60914 41.84469, -87.60915 ..."
1,OAKLAND,0,16913961.0408,0,36,36,0,0,19565.5061533,"MULTIPOLYGON (((-87.59215 41.81693, -87.59231 ..."
2,FULLER PARK,0,19916704.8692,0,37,37,0,0,25339.0897503,"MULTIPOLYGON (((-87.6288 41.80189, -87.62879 4..."
3,GRAND BOULEVARD,0,48492503.1554,0,38,38,0,0,28196.8371573,"MULTIPOLYGON (((-87.60671 41.81681, -87.6067 4..."
4,KENWOOD,0,29071741.9283,0,39,39,0,0,23325.1679062,"MULTIPOLYGON (((-87.59215 41.81693, -87.59215 ..."
...,...,...,...,...,...,...,...,...,...,...
72,MOUNT GREENWOOD,0,75584290.0209,0,74,74,0,0,48665.1305392,"MULTIPOLYGON (((-87.69646 41.70714, -87.69644 ..."
73,MORGAN PARK,0,91877340.6988,0,75,75,0,0,46396.419362,"MULTIPOLYGON (((-87.64215 41.68508, -87.64249 ..."
74,OHARE,0,371835607.687,0,76,76,0,0,173625.98466,"MULTIPOLYGON (((-87.83658 41.9864, -87.83658 4..."
75,EDGEWATER,0,48449990.8397,0,77,77,0,0,31004.8309456,"MULTIPOLYGON (((-87.65456 41.99817, -87.65456 ..."
76,EDISON PARK,0,31636313.7864,0,9,9,0,0,25937.226841,"MULTIPOLYGON (((-87.80676 42.00084, -87.80676 ..."

In [24]:
query_spatial = """
SELECT Date, ID, CAST(Longitude AS FLOAT64) as Longitude, CAST(Latitude AS FLOAT64) as Latitude,`Community Area`
FROM `wagon-bootcamp-428814.chicago_crime.chicago_crime_tab`
WHERE `Community Area` IS NULL
LIMIT 100
"""
df_spatial = read_gbq(query_spatial, credentials = credentials)

/Users/valentinahilfiger/.pyenv/versions/3.10.6/envs/lw-crime/lib/python3.10/site-packages/google/cloud/bigquery/table.py:2379: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(

In [25]:
#df_spatial['Latitude'] = float(df_spatial['Latitude'])
df_spatial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            100 non-null    datetime64[us]
 1   ID              100 non-null    Int64
 2   Longitude       99 non-null     float64
 3   Latitude        99 non-null     float64
 4   Community Area  0 non-null      object
dtypes: Int64(1), datetime64[us](1), float64(2), object(1)
memory usage: 4.1+ KB

In [19]:
# Convert the lat/lon to shapely Point objects
df_spatial['geometry'] = df_spatial.apply(lambda row: Point(row['Longitude'], row['Latitude']), axis=1)

# Convert the DataFrame to a GeoDataFrame
points_gdf = gpd.GeoDataFrame(df_spatial, geometry='geometry')

In [20]:
# Ensure both GeoDataFrames use the same CRS
points_gdf.set_crs(epsg=4326, inplace=True)
communities.to_crs(epsg=4326, inplace=True)

In [21]:
valid_predicates = points_gdf.sindex.valid_query_predicates
print(valid_predicates)

{None, 'overlaps', 'dwithin', 'contains', 'within', 'covers', 'covered_by', 'crosses', 'intersects', 'contains_properly', 'touches'}

In [22]:
assigned_gdf.columns

Index(['Date', 'Longitude', 'Latitude', 'community', 'area_num_1'], dtype='object')

In [23]:
# Perform the spatial join
assigned_gdf = gpd.sjoin(points_gdf, communities, predicate='within') #op='within'
assigned_gdf = assigned_gdf[['Date','ID','Longitude', 'Latitude','community','area_num_1']]
assigned_gdf

,Date,ID,Longitude,Latitude,community,area_num_1
0,2001-01-01 00:00:00,1329588,-87.606155,41.783962,WOODLAWN,42
1,2001-01-01 00:00:00,1651806,-87.656344,41.938485,LAKE VIEW,6
2,2001-01-01 00:00:00,1403263,-87.617741,41.741163,CHATHAM,44
3,2001-01-01 00:00:00,1559213,-87.660914,41.798552,NEW CITY,61
4,2001-01-01 00:00:00,2043912,-87.687958,41.797758,GAGE PARK,63
...,...,...,...,...,...,...
95,2001-01-01 00:01:00,1442950,-87.625814,41.907360,NEAR NORTH SIDE,8
96,2001-01-01 00:01:00,1425317,-87.609843,41.703056,ROSELAND,49
97,2001-01-01 00:01:00,1328581,-87.705345,41.993129,WEST RIDGE,2
98,2001-01-01 00:01:00,1506615,-87.765830,41.902939,AUSTIN,25
99,2001-01-01 00:01:00,1563324,-87.727056,41.971437,ALBANY PARK,14