In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv("../../raw_data/Crimes.csv")

In [6]:
df.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [7]:
data=df[['Date', 'Community Area', 'Year']]

In [11]:
ca_df=data[data.Year > 2002].set_index("Date").groupby("Community Area").count()

In [12]:
ca_df

                  Year
Community Area
0.0                 70
1.0             110718
2.0              92908
3.0             105113
4.0              51475
...                ...
73.0             85608
74.0             15979
75.0             57005
76.0             41798
77.0             72641

[78 rows x 1 columns]